<header class="navbar flex-row navbar-dark bg-dark">
    <span class="navbar-brand">
        <img class="logo" src="/assets/logo.png" alt="Logo"/>
        <span>omsprofit</span>
    </span>
    <ul class="navbar-nav flex-row ml-xs-1 ml-sm-3 ml-md-4">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/profit">Profit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/details/chart">Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/settings">Settings</a>
        </li>
    </ul>
</header>
